/* NEW ACCESSIBILITY FEATURES */
/* Text-background color contrast is now at least 4.5:1 */
/* Navigational links are now buttons. */
/* New sr-only text has been added. */

/* _GLOBAL_ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  /* Implement DRY Principle here. */
  --dark-grey: rgb(58 58 58);
  --light-grey: rgb(235 235 235);
  --sky-blue: rgb(44 154 183);
  /* The font color is now 4.5:1 wrt the white background. */
  /* --sky-blue: #257F98; */
  --afternoon-sky-blue: #1D819A;
  /* --afternoon-sky-blue: rgb(35 154 185); */
  --sunny-sky-blue: #247D94;
  /* --sunny-sky-blue: rgb(82 186 213); */
  --horizon-sky-blue: #257F98;
  /* --horizon-sky-blue: rgb(44 154 183); */
  --navi-width: 60%;
}
body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10rem; */
  /* padding-left: 4rem; */
}
.sr-only {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* ASIDE */
aside {
  color: var(--dark-grey);
  /* For debugging purposes. */
  /* border: 3px solid red; */
}
.roboto {
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  width: calc(320px + 2rem);
}
h3, p, aside {
  font-family: "Roboto", sans-serif;
}
aside h3 {
  text-transform: uppercase;
  /* color: var(--dark-grey); */
  /* font-family: "Roboto", sans-serif; */
  /* font-optical-sizing: auto; */
  font-weight: 700;
  /* font-style: normal; */
  /* font-variation-settings: "wdth" 100; */
}
aside p {
  /* color: var(--dark-grey); */
}
aside a {
  color: rgb(44 154 183);
}
aside figcaption {
  /* color: var(--dark-grey); */
}
figure {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
aside > section {
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}
aside > section > * {
  padding-bottom: 1rem;
}
aside > section h3 {
  padding-bottom: 1rem;
  margin: 0;
}
aside a {
  padding: 1rem;
  padding-left: 0;
}
/* .more-info { */
.more-info {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.more-info > a {
/* figure a { */
  /* display: inline-block; */
  /* width: 100%; */
  /* text-align: center; */
  padding-left: 0;
}
aside > section > * {
  margin: 0;
}

/* HEADER */
header {
  background-color: var(--sky-blue);
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 2rem 0; */
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  /* padding: 0 auto; */
}
h2.roboto {
  margin: 0;
  font-style: italic;
}
h1.roboto {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
#headers {
  width: var(--navi-width);
  /* height: 100%; */
  /* background-image: url("sleeping-kitten.jpg"); */
  /* background: radial-gradient(var(--sky-blue)); */
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem 4rem;
}
@media screen and (min-width: 700px) {
  #headers {
    background-image: linear-gradient(
      to right,
      rgb(44 154 183 / 100%) 60%,
      rgb(0 0 0 / 0%),
      rgb(44 154 183)
      ), url("tabby-kitten.jpg");
      /* https://openverse.org/image/64125604-48ea-49e7-8eab-33b5d494f88a?q=kitten&p=144 */
  }
}

/* NAVIGATION */
nav {
  background-color: var(--light-grey);
  height: 5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-content: center; */
  justify-content: space-around;
}
ul.navilist {
  display: flex;
  margin: 0;
  padding: 0;
  height: 50%;
  justify-content: space-between;
  /* width: 60rem; */
  width: var(--navi-width);
}
ul.navilist > li {
  list-style-type: none;
  font-weight: 700;
  /* width: 10rem; */
  /* width: 2rem; */
  height: 3rem;
  /* width: 2rem; */
  width: 10rem;
  border: 1px solid black;
  /* background-color: var(--sky-blue); */
  background-color: #636363;
}
ul.navilist > li:hover {
  background-color: rgb(82 186 213);
  transition: background-color 0.25s;
}
ul.navilist a:focus {
  background-color: rgb(82 186 213);
  /* color: rgb(82 186 213); */
}
ul.navilist a {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* justify-items: center; */
  justify-content: space-around;
  /* text-align: center; */
  color: white;
  height: 100%;
  width: 100%;
  /* line-height: 100%; */
  /* display: inline-block; */
  /* display: inline-block; */
  /* height: 100%; */
  /* width: 100%; */
}
ul.navilist a:hover {
  /* color: blue; */
  color: white;
}
ul.navilist > li + li::before {
  /* Stuff like this really belongs in the CSS, rather than the HTML layer. */
  /* content: "/"; */
  /* Failed attempts at evenly spacing the inserted slash between the nav > li */
  /* width: 10rem; */
  /* padding: 2rem; */
  /* padding: 5%; */
}

/* MAIN */
#kitten-thoughts > h3 {
  color: var(--afternoon-sky-blue);
  padding: 1rem;
  padding-left: 0;
  margin: 0;
}
#kitten-quotes > blockquote {
  color: var(--sunny-sky-blue);
  margin-left: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
main a {
  color: var(--horizon-sky-blue);
}
main {
  display: flex;
  flex-direction: row;
  width: var(--navi-width);
  align-self: center;
}
#content {
  width: 50rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  align-self: start;
}
.attribution {
  font-style: italic;
}
main p {
  margin: 1rem 0;
  /* margin-bottom: 2rem; */
}

/* FOOTER */
footer {
  background-color: var(--dark-grey);
  color: white;
  padding: 2rem;
}
@media screen and (max-width: 700px) {
  footer img {
    width: 0;
    height: 0;
  }
}
.content {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
footer img {
  /* https://developer.mozilla.org/en-US/docs/Learn_web_development/Getting_started/Your_first_website/Styling_the_content#centering_the_image */
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
footer figcaption {
  text-align: center;
}
#footer-links {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#footer-links a {
  color: var(--light-grey);
}
#footer-links .navilist {
  width: 100%;
  margin: 2rem;
}
#footer-links ul.navilist > li {
  margin: 0rem 1rem;
}
#copyright-location {
  margin: 1rem 0rem;
}
#company-name::after {
  content: " |";
}
footer figcaption > span {
  margin: 2rem 0rem 1rem;
  display: inline-block;
  width: 55%;
}

