
/* _GLOBAL_ */
:root {
  --primary-blue: rgb(3 163 223);
  --secondary-blue: rgb(27 68 127);
  --secondary-yellow: rgb(236 183 34);
  --secondary-black: rgb(68 68 68);
}
body {
  margin: 0;
  /* min-height: 100vh; */
  color: var(--secondary-black);
  font-family: Arial;
  font-size: 17px;
}

/* HEADER */
header {
  background-color: var(--primary-blue);
  /* background-color: rgb(3 163 223); */
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
}
a[href='index.html'] {
  display: inline-block;
}
.nav {
  padding: 0;
  margin: 0;
  display: flex;
}
/* .nav > li + li::before {
  content: " / ";
} */
li {
  list-style-type: none;
  margin: 1rem;
}
.nav a {
  color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: center;
  font-size: 24px;
}
h1,
h2,
h3 {
  font-weight: bold;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to right, black, white, black); */
  /* background-color: var(--secondary-black); */
  /* background-color: linear-gradient(black 10%, 20%, black 30%); */
  /* background: linear-gradient(to left top, blue, red); */
  /* background: linear-gradient(to right, black, white); */
  /* background: linear-gradient(to right, var(--secondary-black) 20%, white, var(--secondary-black) 80%); */
  /* background: linear-gradient(to right, var(--secondary-blue) 20% 30%, white, var(--secondary-blue) 70% 80%); */
  /* background: linear-gradient(to right, var(--secondary-blue) 25% 30%, white, var(--secondary-blue) 75%); */
  /* background: linear-gradient(to bottom, var(--primary-blue), white, var(--primary-blue) 70% 80%); */
  background-color: var(--secondary-blue);
  /* padding: 2rem; */
}
#main-content-outer {
/* main { */
  display: grid;
  flex-direction: column;
  /* align-items: center; */
  justify-items: center;
  grid-template-areas:
    "main-top ."
    "main aside";
  /* column-gap: 0; */
  grid-template-columns: 60rem 20rem;
  /* grid-gap: 40rem; */
  background-color: white;
  /* background-color: var(--secondary-blue); */
  padding: 2rem;
  column-gap: 7%;
}
main > * {
  max-width: 60rem;
}
main > section .important-title {
  text-align: center;
}
.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-content {
  grid-area: main;
}
aside {
  grid-area: aside;
  color: white;
  /* align-self: center; */
  /* justify-self: right; */
}
.important {
  grid-area: main-top;
}
.bio {
  display: flex;
}
.bio > * {
  margin: 1rem;
}

/* FOOTER */
footer {
  background-image: url("assets/footerImage.jpg");
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding: 2rem;
}
footer > article {
  color: white;
  /* align-self: center; */
  /* max-width: 20%; */
}
footer a {
  color: inherit;
}
footer a:hover {
  color: var(--secondary-yellow);
}
footer h2 {
  text-align: left;
}
