/*
Instructions

Continue work on your portfolio project directory adding CSS for this assignment.

    Create a directory called 'styles' and within it, stylesheet.css. In this stylesheet, write some styling for your portfolio site. This file must have at least 50 lines of code. Use your design skills or just experiment. This assignment is about using CSS properly, not design.
    Use the CSS validator to check the quality of your code: https://jigsaw.w3.org/css-validator/ 

Links to an external site.
Include a link to the stylesheet in the head section of each of the html pages. This would also be a good opportunity to add more content to these HTML pages.
Use git to commit your work as you go. Push your work up to your “portfolio” repository on GitHub main branch, and submit a link to the GitHub repo and your GitHub pages site for the assignment. I will view the pages via your personal GitHub Pages URL and expect everything to be functional (no broken images or links, etc). Refer to Lesson 00 and 01 if you need a refresher on git & GitHub.
 
 */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* TODO: Scrolling headers for webdev-notes.html */
/* 02/23: Update portfolio project styling to use at least 3 CSS transitions and/or nth-child selectors. */

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  height: 1080px;
}
footer {
  background-color: grey;
}
header {
  padding: 0;
}
nav {
  width: 235px;
  min-width: 235px;
  /* TODO: Need to figure out how to put <main> and <nav> side by side. */
  /* display: inline-block; */
  background-color: green;
}
nav li:hover {
  /* TODO: Figure out how to have the background change once the user hovers over the link and not just the border. */
  background-color: orange;
}
main {
  background-color: purple;
  /* display: inline-block; */
  width: 100%;
  padding: 1em;
}
.reminders:hover {
  background-color: red;
}
.header-content {
  display: inline-block;
  box-sizing: border-box;
}
#site-icon {
  width: 235px;
  height: 200px;
  background-image: url("../images/site-icon.jpg");
}
#background {
  width: calc(100% - 235px);
  height: 200px;
  border-width: 0;
  background-image: url("../images/background-img.jpg");
}
nav > ul {
  padding: 0;
  margin: 0;
  background-color: green;
}
nav > ul > li {
  height: 100px;
  /* border: 10px solid orange; */
}
nav > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#nav-and-main {
  display: flex;
}
h1 {
  font-family: "Italianno", serif;
  font-weight: 400, normal;
}
#site-icon > a {
  display: block;
  width: 100%;
  height: 100%;
}
nav li:nth-child(even) {
  background-color: yellow;
}
nav li:nth-child(even):hover {
  background-color: blue;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
main > section:nth-child(even) {
  background-color: pink;
}
